/* CSS for Trade Pack Cards */

/* Styling for the cards container */
#tradepack-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styling for individual card */
.card {
  margin: 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Styling for the title */
.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

/* Styling for the list items */
.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Styling for the item name */
.name_container {
  flex-basis: 40%;
}

.name_text {
  font-size: 16px;
  font-weight: bold;
}

/* Styling for the item quantity */
.quantity_container {
  flex-basis: 20%;
  text-align: center;
}

.quantity_text {
  font-size: 16px;
}

/* Styling for the item category */
.category_container {
  flex-basis: 20%;
}

.category_text {
  font-size: 14px;
  font-weight: bold;
}

.level_text {
  font-size: 14px;
}

/* Styling for the item price */
.price_container {
  flex-basis: 20%;
}

.price_text {
  font-size: 14px;
  font-weight: bold;
}

.price_value {
  font-size: 14px;
}

/* Styling for the item select dropdown */
.input-source {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Styling for the price total */
.price_total {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/* Styling for the max level */
.max_level {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
